#cards #background-answer-card {
	text-shadow: 0 1px rgba(255,255,255,.8);
	background: #eee;
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 323px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
	height: 362.8px;
	float: left;
	position: relative;
	background-image: linear-gradient(#23FAF3, #eee);
}