#cards #question-card h3 {
    color: #000;
    font: 30px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	font-weight: bold;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#F61046,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F61046), to(#eee));
	background-image: -webkit-linear-gradient(#F61046, #eee);
	background-image: -o-linear-gradient(#F61046, #eee);
	background-image: -ms-linear-gradient(#F61046, #eee);
	background-image: linear-gradient(#F61046, #eee);
}